<div
  class="rounded-circle bg-secondary d-flex align-items-center justify-content-center flex-shrink-0 overflow-hidden"
  [style.width.px]="size()"
  [style.height.px]="size()"
  [title]="characterName()"
>

@switch (imageSrc()) {
  @case ("https://placehold.co/400") {
    <i
      class="bi bi-robot text-white"
      [style.fontSize.rem]="fontSize()"
    ></i>
  }
  @case ("https://placehold.co/300") {
    <i class="bi bi-person-fill text-white"
      [style.fontSize.rem]="fontSize()"
    ></i>
  }
  @default {
    <img
      [src]="imageSrc()"
      [alt]="characterName()"
      class="w-100 h-100"
      style="object-fit: cover; object-position: center;"
      (error)="onImageError()"
    />
  }
}
</div>