<div id="carouselExampleFade" class="carousel slide position-relative" data-bs-ride="carousel">

  <button 
    class="carousel-control-prev" 
    type="button" 
    data-bs-target="#carouselExampleFade" 
    data-bs-slide="prev"
    style="z-index: 10;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>

  <button 
    class="carousel-control-next" 
    type="button" 
    data-bs-target="#carouselExampleFade" 
    data-bs-slide="next"
    style="z-index: 10;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>

  <div class="carousel-inner">
    @for(card of cardsCarousel(); track $index) {
      <div class="carousel-item" [class.active]="$index === 0">
        <div class="cards-container d-flex justify-content-center gap-3 px-5">
          <app-card [cardConfig]="card" class="carousel-card"></app-card>
          <app-card [cardConfig]="getCardAt($index + 1)" class="carousel-card"></app-card>
          <app-card [cardConfig]="getCardAt($index + 2)" class="carousel-card"></app-card>
        </div>
      </div>
    }
  </div>

</div>